---
layout: default_style
permalink: /ministry
---

<div class="row container-kamn">
    <img src="{{ site.baseurl }}/assets/img/slider/slide1.jpg" class="blog-post" alt="Feature-img" align="right"
        width="100%">
</div>

<div id="banners"></div>

<div class="container">
    <div class="row">
        <div class="side-left col-sm-4 col-md-4">
            <div class="">
                <h3 class="lead">Ministros: </h3>
                <hr>

                <p>
                    Describir el rol de ministro
                </p>
                <br>

                <h3>Pastores:</h3>
                <hr>
                Describir el rol de pastor
            </div>

        </div>

        <div class="col-sm-8 col-md-8">
            <div class="services-header">
                <header class="principle-header">
                    <h2>Ministros:</h2>
                </header>

                {% for minister in site.data.ministers.ministers %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/principles/principle_1.jpg"
                            class="card-img-top" alt="Thumbnail for {{ minister.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ minister.name }}</h5>
                            <div class="card-text">
                                {{ minister.state }}
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="services-header">
                <header class="principle-header">
                    <h2>Pastores: </h2>
                </header>

                {% for pastor in site.data.ministers.pastors %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/principles/principle_1.jpg"
                            class="card-img-top" alt="Thumbnail for {{ pastor.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pastor.name }}</h5>
                            <div class="card-text">
                                <em>{{ pastor.state }}</em>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- <div class="container">
    <div class="row">
        <div class="services-header">
            <h3 class="services-header-title">Ministros</h3>
            <ul class="services-header-body">
                {% for minister in site.data.ministers.ministers %}
                <li>{{ minister.name }}</li>
                {% endfor %}
            </ul>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="services-header">
            <h3 class="services-header-title">Pastores</h3>
            <p class="services-header-body">
                <em>De campo:</em>

                <ul class="services-header-body">
                    {% for minister in site.data.ministers.pastors %}
                    <li>{{ minister.name }}</li>
                    {% endfor %}
                </ul>
            </p>

            <p>
                <em>En Iglesias:</em>
            </p>
            <hr>
        </div>
    </div>
</div> -->



<!-- {% for principle in site.data.principles %}
<li class="list-group-item"><a href="{{ site.baseurl }}{{ principle.link }}">{{ principle.id }}. {{
        principle.title }}</a></li>
{% endfor %} -->