<!-- Pie de página -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> Contacto:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          Teléfono: {{ site.telephone_number }} <br>
          Correo electrónico: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> Enlaces</h3>
        <p><a href="/about"> Acerca de ( Quiénes somos )</a></p>
        <p><a href="/contact"> Contacto ( No dudes en contactarnos )</a></p>
        <p><a href="/blog"> Blog ( Infórmate )</a></p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> Socialízate</h3>
        <div id="social-icons">
          {% if site.youtube_link %}
            <a href="{{ site.youtube_link }}" class="btn-group youtube">
              <i class="fa fa-youtube-square"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">Unión Hondureña</a>. <br>Tema por <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>
